<div class="navbar navbar-expand-sm bg-light navbar-light justify-content-center" style='height:50px; font-weight:bold;'>
  <ul class="nav" style='font-size:16px;'>
    <li class="nav-item">
      <a class="nav-link" href="#">Personal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">NRI</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Business</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Help</a>
    </li>
  </ul>
</div>
